<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CarShare</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header id="main-header">
    <!-- Логотип -->
    <a href="/" id="logo">CarShare</a>

    <!-- Навигация -->
    <nav id="main-nav">
        <a href="/booking">Бронирование</a>
    </nav>

    <!-- Вход / Имя пользователя -->
    <nav id="login-nav">
        <div th:if="${username != null}" class="user-info">
            <!-- Если пользователь аутентифицирован -->
            <span class="greeting" onclick="toggleLogoutMenu()">Привет, <span th:text="${username}">Username</span>!</span>
            <div class="logout-dropdown">
                <a href="/logout">Выйти</a>
            </div>
        </div>
        <div th:if="${username == null}">
            <!-- Если пользователь не аутентифицирован -->
            <a href="/login">Вход</a>
        </div>
    </nav>
</header>
<main>
    <h1>Добро пожаловать на CarShare!</h1>
</main>

</body>
<script src="/js/app.js"></script>
</html>