/* Главный header */
#main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    position: fixed; /* Закрепляем элемент */
    top: 0; /* Фиксация сверху */
    left: 0; /* Фиксация слева */
    width: 100%; /* Полная ширина */
    z-index: 1000; /* Над другими элементами */
    box-sizing: border-box; /* Учитываем padding в ширине */
}

/* Логотип */
#logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin-right: 30px;
}

/* Навигация */
#main-nav {
    display: flex; /* Выравнивание по горизонтали */
}

#main-nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px; /* Отступ между ссылками */
}

/* Эффект при наведении на ссылки */
#main-nav a:hover {
    text-decoration: underline;
}

/* Правое выравнивание для входа */
#login-nav {
    margin-left: auto;
}

.user-info {
    position: relative;
}

/* Стиль для выпадающего меню */
.logout-dropdown {
    display: none;
    position: absolute;
    background-color: #333333;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: #ffffff;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #444444;
    text-align: center;
}

/* Добавим эффект при наведении на элементы в меню */
.logout-dropdown a {
    color: #ffffff;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

/* Дополнительно можно добавить эффект при наведении на .greeting */
.greeting:hover {
    text-decoration: underline;
}
