/* Главный header */
#main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    position: fixed; /* Закрепляем элемент */
    top: 0; /* Фиксация сверху */
    left: 0; /* Фиксация слева */
    width: 100%; /* Полная ширина */
    z-index: 1000; /* Над другими элементами */
    box-sizing: border-box; /* Учитываем padding в ширине */
}

/* Логотип */
#logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin-right: 30px;
}

/* Навигация */
#main-nav a, #login-nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

/* Эффект при наведении на ссылки */
#main-nav a:hover, #login-nav a:hover {
    text-decoration: underline;
}

/* Правое выравнивание для входа */
#login-nav {
    margin-left: auto;
}
.user-info {
    position: relative;
}

.greeting {
    cursor: pointer;
    font-size: 18px;
    color: white;
}

/* Стили для выпадающего меню */
.logout-dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    min-width: 160px;
    z-index: 1;
    color: black; /* Добавим цвет текста */
    padding: 12px; /* Добавим отступы */
    border: 1px solid #ddd; /* Добавим границу, чтобы увидеть меню */
}


.logout-dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.logout-dropdown a:hover {
    background-color: #ddd;
}

/* При наведении изменяется фон */
#login-nav a:hover, .greeting:hover {
    color: #ccc;  /* Изменяем цвет при наведении */
}