.register-container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.register-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.register-container form {
    display: flex;
    flex-direction: column;
}

.register-container .form-group {
    margin-bottom: 15px;
}

.register-container label {
    margin-bottom: 5px;
    font-weight: bold;
    display: block; /* Текст метки на одной строке */
}

.register-container input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; /* Поле ввода на всю ширину */
    box-sizing: border-box; /* Учитывает padding и border в общей ширине */
}

.register-container button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Кнопка на всю ширину */
}

.register-container button:hover {
    background-color: #0056b3;
}

.login-link {
    text-align: center;
    margin-top: 15px;
}

.login-link a {
    color: #007BFF;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}
