/* Для всего документа */
body {
    margin: 0; /* Убираем отступы по умолчанию */
    font-family: Arial, sans-serif;
    padding-top: 50px; /* Отступ, чтобы контент не перекрывался фиксированным header */
}

main{
    margin: 0 20px;
}
h1 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}
