<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить автомобиль</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/add-vehicle.css">
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<main>
    <div class="form-container">
        <h1>Добавить новый автомобиль</h1>

        <!-- Форма добавления автомобиля -->
        <form action="/vehicles/add-vehicle2" method="post">
            <label for="name">Название автомобиля:</label>
            <input type="text" name="name" id="name" placeholder="Введите название автомобиля" required>

            <label for="type">Тип автомобиля:</label>
            <input type="text" name="type" id="type" placeholder="Введите тип автомобиля" required>

            <button type="submit">Добавить</button>
        </form>
    </div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
<script src="/js/app.js"></script>
</html>
