<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vehicles</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/booking.css">
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<main>
    <h1>Available Vehicles</h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vehicle : ${vehicles}">
            <td th:text="${vehicle.id}"></td>
            <td th:text="${vehicle.name}"></td>
            <td th:text="${vehicle.type}"></td>
            <td>
                <button type="button" th:attr="onclick='openBookingModal(' + ${vehicle.id} + ')'" >Забронировать</button>


            </td>
        </tr>
        </tbody>
    </table>
</main>
<footer th:replace="fragments/footer :: footer"></footer>

<!-- Modal -->
<div id="bookingModal" style="display: none;">
    <div class="modal-content">
        <span class="close" onclick="closeBookingModal()">&times;</span>
        <h2>Book a Vehicle</h2>
        <form id="bookingForm" method="post" th:action="@{/book}">
            <input type="hidden" id="vehicleId" name="vehicleId">
            <label for="bookingDate">Select Date:</label>
            <input type="date" id="bookingDate" name="bookingDate" required>
            <button type="submit">Book</button>
        </form>
    </div>
</div>
</body>

<script src="/js/openwindow.js"></script>
</html>
