<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vehicles</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/homepage_main.css">
</head>
<body>
    <header th:replace="fragments/header :: header"></header>
    <main>
        <h1 id="welcome_text">Добро пожаловать в сервис аренды автомобилей</h1>
    </main>
    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
