<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<!-- Включаем общий header -->
<header th:replace="fragments/header :: header"></header>

<main>
    <div class="login-container">
        <h1>Вход</h1>
        <form action="/authenticate" method="post">
            <div class="form-group">
                <label for="username">Логин:</label>
                <input type="text" id="username" name="username" required>
            </div>

            <div class="form-group">
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password" required>
            </div>

            <button type="submit">Войти</button>
        </form>

        <div class="register-container">
            <p>Нет аккаунта? <a href="/register" class="register-link">Зарегистрироваться</a></p>
        </div>
    </div>
</main>

<!-- Включаем общий footer -->
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
